<div class="container">
  <div class="row">
    <h1>鍵盤救災</h1>
    <h4>用愛發電 用鍵盤救災</h4>
  </div>
  <% if params[:status] != "new" && params[:status] != "update" %>
  <div class="row">
    <%= link_to "NewInfo", new_post_path, :class => "btn btn-success glyphicon glyphicon-plus pull-right" %>
  </div>
  <% end %>
  <div class="row">
    <% if params[:status] == "new" || params[:status] == "update" %>
      <%= form_for @post, :url => params[:set_post_path], :method => params[:set_method] do |p| %>
        <%= render :partial => "form", :locals => { :post => p } %>
        <%= p.submit "Submit", :class => "btn btn-primary" %>
        <%= link_to "Cancel", posts_path, :method => :get, :class => "btn btn-danger" %>
      <% end %>
    <% end %>
  </div>
  <div class="row">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="text-center">id.</th>
          <th class="text-center">分類</th>
          <th class="text-center">標題</th>
          <th class="text-center">內容</th>
          <th class="text-center">張貼時間</th>
          <th class="text-center">show</th>
          <th class="text-center">edit</th>
          <th class="text-center">delete</th>
        </tr>
      </thead>
      <tbody>
      <% @posts.each do |p| %>
        <tr>
          <td class="text-center custome_icon"><%= p.id %></td>
          <td class="text-center"><%= p.category.name %></td>
          <td class=""><%= p.name %></td>
          <td><%= p.content %></td>
          <td><%= p.created_at %></td>
          <td class="text-center custome_icon">
            <%= link_to "", post_path(p), :class => "btn btn-default glyphicon glyphicon-th-list" %>
          </td>
          <td class="text-center custome_icon">
            <%= link_to "", edit_post_path(p), :class => "btn btn-default glyphicon glyphicon-edit" %>
          </td>
          <td class="text-center custome_icon">
            <%= link_to "", post_path(p, :page => params[:page]), :method => :delete, :class => "btn btn-danger glyphicon glyphicon-trash" %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <div class="text-center"><%= paginate @posts %></div>
  </div>
</div>


