<div class="container">
  <div class="row">
    <h1>鍵盤救災</h1>
    <h4>用愛發電 用鍵盤救災</h4>
  </div>
  <div class="row">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="text-center">id.</th>
          <th class="text-center">分類</th>
          <th class="text-center">標題</th>
          <th class="text-center">內容</th>
          <th class="text-center">張貼時間</th>
          <th class="text-center">show</th>
          <th class="text-center">edit</th>
          <th class="text-center">delete</th>
        </tr>
      </thead>
      <tbody>
      <% @posts.each do |p| %>
        <tr>
          <td class="text-center custome_icon"><%= p.id %></td>
          <td class="text-center"><%= p.category.name %></td>
          <td class=""><%= p.name %></td>
          <td><%= p.content %></td>
          <td><%= p.created_at %></td>
          <td class="text-center custome_icon">
            <%= link_to "", post_path(p), :class => "btn btn-default glyphicon glyphicon-th-list" %>
          </td>
          <td class="text-center custome_icon">
            <%= link_to "", edit_post_path(p), :class => "btn btn-default glyphicon glyphicon-edit" %>
          </td>
          <td class="text-center custome_icon">
            <%= link_to "", post_path(p, :page => params[:page]), :method => :delete, :class => "btn btn-danger glyphicon glyphicon-trash" %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <div class="text-center"><%= paginate @posts %></div>
  </div>
</div>


